<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

    <div class="flex flex-auto p-3 sm:p-5">
        <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-5">

            <!-- Header -->
            <div class="relative flex flex-0 flex-col border-b px-2 py-2 sm:flex-row sm:items-center sm:justify-between">
                <div class="mt-6 flex shrink-0 items-center sm:ml-2 sm:mt-0">
                    <!-- Search -->
                    <mat-form-field
                        class="urpi-mat-dense min-w-64"
                        [subscriptSizing]="'dynamic'"
                    >
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:magnifying-glass'"
                        ></mat-icon>
                        <input
                            matInput
                            [formControl]="searchInputControl"
                            [autocomplete]="'off'"
                            [placeholder]="'Buscar menus ...'"
                        />
                    </mat-form-field>
                    <!-- Add user button -->
                    <button
                        class="ml-4 rounded-lg"
                        mat-flat-button
                        [color]="'primary'"
                        (click)="create()"
                    >
                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        <span class="ml-2 mr-1">Nuevo</span>
                    </button>

                    <button
                        class="ml-2 rounded-lg"
                        mat-flat-button
                        [color]="'primary'"
                        [matTooltip]="'Actualizar'"
                        (click)="reload()">
                        <mat-icon [svgIcon]="'mat_outline:refresh'"></mat-icon>
                    </button>
                </div>
            </div>

            <form class="mt-8" [formGroup]="valuesForm" >
                <div [formArrayName]="'values'" class="grid sm:grid-cols-1 lg:grid-cols-2 gap-4 w-full">
                    <!-- Label -->
                    <ng-container *ngFor="let label of valuesForm.get('values')['controls']; let i = index; let first = first; let last = last; trackBy: trackByFn">
                        <div class="flex flex-col w-full h-86 shadow rounded-2xl overflow-hidden bg-card w-full">
                            <div class="flex flex-col p-6">



                                <div class="flex items-center justify-between -mt-3">
                                    <!-- Reclamo estado -->
                                    <ng-container>
                                        <div class="py-0.5 px-3 rounded-full text-sm font-semibold text-green-800 bg-green-100 dark:text-green-50 dark:bg-green-500">
                                            OPCIÓN DE MENU
                                        </div>
                                    </ng-container>
                                    <!-- Completed at least once -->
                                    <div class="flex items-center -mr-3">

                                        <button
                                            mat-icon-button
                                            (click)="put(i)">
                                            <mat-icon class="icon-size-5 text-green-500" [svgIcon]="'mat_outline:save'"></mat-icon>
                                        </button>

                                        <button
                                            mat-icon-button
                                            (click)="delete(label.get('id').value)">
                                            <mat-icon class="icon-size-5 text-red-500" [svgIcon]="'mat_outline:delete'"></mat-icon>
                                        </button>

                                    </div>
                                </div>

                                <!--<mat-form-field class="flex items-center w-full mt-1" appearance="outline">
                                    <mat-label>Agrupador</mat-label>
                                    <mat-select [formControl]="label.get('role')" [compareWith]="displayRol">
                                        @for (role of roles; track role ) {
                                        <mat-option [value]="role.name">
                                        {{ role.name }}
                                        </mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>-->

                                <div class="flex items-center w-full mt-1">
                                    <!-- CODE -->
                                    <mat-form-field class="urpi-mat-dense urpi-mat-no-subscript w-1/2 pr-2" appearance="outline">
                                        <mat-label>Codigo</mat-label>
                                        <input
                                            matInput
                                            [formControl]="label.get('code')">
                                    </mat-form-field>

                                    <!-- TITLE -->
                                    <mat-form-field class="urpi-mat-dense urpi-mat-no-subscript w-1/2 pl-2" appearance="outline">
                                        <mat-label>Titulo</mat-label>
                                        <input
                                            matInput
                                            [formControl]="label.get('title')">
                                    </mat-form-field>
                                </div>

                                <div class="flex items-center w-full mt-1">
                                    <!-- TYPE -->
                                    <mat-form-field class="urpi-mat-dense urpi-mat-no-subscript w-1/2 pr-2" appearance="outline">
                                        <mat-label>Tipo</mat-label>
                                        <mat-select [placeholder]="'Seleccione tipo ...'"
                                                    [formControl]="label.get('type')">
                                            <mat-option [value]="'group'">group</mat-option>
                                            <mat-option [value]="'collapsable'">collapsable</mat-option>
                                            <mat-option [value]="'basic'">basic</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <!-- ICON -->
                                    <mat-form-field class="urpi-mat-dense urpi-mat-no-subscript w-1/2 pl-2" appearance="outline">
                                        <mat-label>Icono</mat-label>

                                        <input
                                            matInput
                                            [formControl]="label.get('icon')">
                                    </mat-form-field>

                                </div>

                                <div class="flex items-center w-full mt-1">
                                    <!-- LINK -->
                                    <mat-form-field class="urpi-mat-textarea w-full" appearance="outline">
                                        <mat-label>Enlace</mat-label>
                                        <input
                                            matInput
                                            [formControl]="label.get('link')">
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>
                    </ng-container>
                </div>
            </form>
        </div>
    </div>

</div>
