<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden">
    <div class="flex flex-auto overflow-auto">
        <div class="flex flex-col flex-auto sm:mb-18 overflow-auto sm:overflow-y-auto">
            <table mat-table [dataSource]="stocks" matSort matTableExporter  #exporter="matTableExporter" [hiddenColumns]="[0]">

                <ng-container *ngFor="let col of cols; let i = index" matColumnDef="{{col.field}}">
                    <mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header class="{{col.width}}">  {{col.header}} </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="{{col.width}}"
                              (click)="selected = row" [ngClass]="{ 'text-white-800 bg-primary-100 dark:primary-blue-50 dark:bg-primary-500': row === selected }">
                        @if( ['input'].includes(col.field) ){
                            {{row['stock'].input}}
                        }@else if( ['output'].includes(col.field) ){
                            {{row['stock'].output}}
                        }@else if( ['balance'].includes(col.field) ){
                            {{row['stock'].balance}}
                        }@else{
                            {{['fecha_salida','fecha_recepcion'].includes(col.field) ? (row[col.field] | date:'dd/M/yyyy HH:mm') : row[col.field] }}
                        }
                    </mat-cell>
                </ng-container>

                <!-- Active -->
                <ng-container matColumnDef="status">
                    <mat-header-cell cdkDrag *matHeaderCellDef aria-label="row actions" class="min-w-40">Estado</mat-header-cell>
                    <mat-cell (click)="selected = row" *matCellDef="let row" class="min-w-40" [ngClass]="{ 'text-primary-800 bg-primary-100 dark:text-primary-50 dark:bg-primary-500': row === selected }">
                        <div class="hidden lg:block">
                            @if (row['status']) {
                            <mat-icon
                                class="text-green-400 icon-size-5"
                                [svgIcon]="'heroicons_solid:check'"
                            ></mat-icon>
                            }
                            @if (!row['status']) {
                            <mat-icon
                                class="text-gray-400 icon-size-5"
                                [svgIcon]="'heroicons_solid:x-mark'"
                            ></mat-icon>
                            }
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </table>
        </div>

        <mat-paginator
            class="z-10 border-b bg-gray-50 dark:bg-transparent sm:absolute sm:inset-x-0 sm:bottom-0 sm:border-b-0 sm:border-t"
            [ngClass]="{ 'pointer-events-none': isLoading }"
            [length]="pagination?.length"
            [pageIndex]="pagination?.page"
            [pageSize]="pagination?.size"
            [pageSizeOptions]="[5, 10, 25, 100]"
            [showFirstLastButtons]="true"
        ></mat-paginator>
    </div>
</div>
