<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Actions -->
        <div class="flex shrink-0 items-end mt-1 sm:mt-0 sm:ml-4">

            <!--<p-toast></p-toast>-->

            <!-- Search -->
            <mat-form-field class="urpi-mat-dense urpi-mat-no-subscript urpi-mat-rounded min-w-64">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'mat_outline:search'"></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar materia prima ...'">
            </mat-form-field>

            <button class="mt-8 sm:mt-0 ml-2 rounded-lg"
                    mat-flat-button
                    [color]="'primary'"
                    [matTooltip]="'Nuevo Registro'"
                    (click)="redirect()">
                <mat-icon [svgIcon]="'mat_outline:add_circle'"></mat-icon>
            </button>

            <button
                class="ml-2 rounded-lg"
                mat-flat-button
                [color]="'primary'"
                [matTooltip]="'Actualizar'"
                (click)="reload()">
                <mat-icon [svgIcon]="'mat_outline:refresh'"></mat-icon>
            </button>
        </div>
    </div>


    <div class="flex flex-auto overflow-auto">
        <div class="flex flex-col flex-auto sm:mb-18 overflow-auto sm:overflow-y-auto">

            <table mat-table [dataSource]="dataSource" matSort matTableExporter  #exporter="matTableExporter" [hiddenColumns]="[0]"
                   cdkDropList
                   cdkDropListOrientation="horizontal"
                   (cdkDropListDropped)="drop($event)">

                <ng-container matColumnDef="accion">
                    <mat-header-cell cdkDrag *matHeaderCellDef aria-label="row actions" class="min-w-40">Acciones</mat-header-cell>
                    <mat-cell (click)="selectedRawMaterial = row" *matCellDef="let row" class="min-w-40" [ngClass]="{ 'text-primary-800 bg-primary-100 dark:text-primary-50 dark:bg-primary-500': row === selectedRawMaterial }">

                        <button [color]="'info'" [matTooltip]="'VER'" class="h-7 min-h-7 min-w-10 leading-6" mat-stroked-button (click)="deleteRow()">
                            <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:remove_red_eye'"></mat-icon>
                        </button>

                        <button [color]="'success'" [matTooltip]="'EDITAR'" class="ml-1 h-7 min-h-7 min-w-10 px-2 leading-6" mat-stroked-button (click)="deleteRow()">
                            <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:edit'"></mat-icon>
                        </button>

                        <button [color]="'warn'" [matTooltip]="'BORRAR'" class="ml-1 h-7 min-h-7 min-w-10 px-2 leading-6" mat-stroked-button (click)="deleteRow()">
                            <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:delete'"></mat-icon>
                        </button>

                    </mat-cell>
                </ng-container>

                <ng-container *ngFor="let col of cols; let i = index" matColumnDef="{{col.field}}">
                    <mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header class="{{col.width}}">  {{col.header}} </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="{{col.width}}"
                              (click)="selectedRawMaterial = row" [ngClass]="{ 'text-white-800 bg-primary-100 dark:primary-blue-50 dark:bg-primary-500': row === selectedRawMaterial }">
                        {{['fecha_salida','fecha_recepcion'].includes(col.field) ? (row[col.field] | date:'dd/M/yyyy HH:mm') : row[col.field] }}
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </table>

        </div>
    </div>

</div>
